---
import H1 from '../components/typographie/H1.astro';
import Main from '../components/layout/Main.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='title' description='description'>
  <Main>
    <H1 text='H1' />
  </Main>
</Layout>
